*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Andika', sans-serif;
}

.container{
    background-color: yellow;
    margin: 10vh 20vw;
    padding: 10vh 10vw;
    min-height: 80vh;
    height: auto;
    width: 60vw;
    border-radius: 10px;
}
.modal-title{
    display: flex;
    align-items: center;
    justify-content: center;

}

input{
    display: flex;
}
button{
    margin: 5px 120px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;

}
button:hover{
    background-color: green;
    color: white;
}
.form-error{
    color: red;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
   margin: 10px;
}
.nav-item{
    padding: 0px 4px 0px 8px;
}
.form-inline{
    display: block;
}
.select1{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.para1{
    margin: 20px;
    margin-bottom: 0;
    font-size: large;
    font-weight: bold;
}
.arr{
    margin: 2vh 10vw ;
    padding: 10px;
}
.ques1{
    margin: 20px;
}